[submodule "receipt"]
	path = receipt
	url = https://github.com/heavensward-argentlux/image-service-template.git
[submodule "user"]
	path = user
	url = https://github.com/heavensward-argentlux/mongodb-service-template.git
[submodule "frontend-service-template"]
	path = frontend-service-template
	url = https://github.com/heavensward-argentlux/frontend-service-template.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/heavensward-argentlux/frontend-service-template.git
