[submodule "user"]
	path = user
	url = https://github.com/arglux/ninjavan-user-service.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/arglux/ninjavan-frontend-service.git
[submodule "transaction"]
	path = transaction
	url = https://github.com/arglux/ninjavan-transaction-service.git
[submodule "policy"]
	path = policy
	url = https://github.com/arglux/ninjavan-policy-service.git
