[submodule "user"]
	path = user
	url = https://github.com/heavensward-argentlux/mongodb-service-template.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/heavensward-argentlux/frontend-service-template.git
